@import "bootstrap-sprockets";
@import "bootstrap";

body{
	padding-left:30px;
	background-color: white;
}
#cart_quantity{
	width: 40px;
}
.basket{
	position: absolute;
	right: 20px;
	border:1px solid black;
	border-radius:15px;
	padding: 15px;
	z-index: 40;
	background-color: white;
	opacity: 0.8;
}
td{
	border: 1px solid black;
	padding: 3px;
}
th{
	padding: 3px;
}
tr:last-child{
	background-color: white;
}
td a{
	color:black;
	font-weight:bold;
}
.btn{
	margin-top: 10px;
}